
.menu-vinos {
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    background-image:url(images/fondo-pared--oscura.jpg); 
    color: white;

}
.menu-vinos img {
    width: 10%;
    height: 10%;
}
.contacto-container {
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    background-image:url(images/fondo-pared--oscura.jpg); 
    color: white;
}   
