* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
}

.nav-container {
  display: flex;
  justify-content: space-around;
  font-size: 1.1em;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  width: 100%;
}

.contenedor-logo-redes {
  background-color: beige;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
@media screen and (max-width: 576px) {
  .contenedor-logo-redes {
    flex-direction: column;
    display: flex;
    align-items: center;
  }
}
.contenedor-logo-redes .logo {
  width: 15%;
}
@media screen and (max-width: 768px) {
  .contenedor-logo-redes .logo {
    width: 20%;
  }
}
@media screen and (max-width: 576px) {
  .contenedor-logo-redes .logo {
    width: 60%;
  }
}
.contenedor-logo-redes .redes {
  display: flex;
  align-items: center;
  gap: 2px;
}
@media screen and (max-width: 576px) {
  .contenedor-logo-redes .redes {
    padding-bottom: 55px;
  }
}
.contenedor-logo-redes .redes .icono-instagram {
  width: 35px;
}
@media screen and (max-width: 768px) {
  .contenedor-logo-redes .redes .icono-instagram {
    width: 30px;
  }
}
@media screen and (max-width: 576px) {
  .contenedor-logo-redes .redes .icono-instagram {
    width: 20px;
  }
}
.contenedor-logo-redes .redes .icono-facebook {
  width: 35px;
}
@media screen and (max-width: 768px) {
  .contenedor-logo-redes .redes .icono-facebook {
    width: 30px;
  }
}
@media screen and (max-width: 576px) {
  .contenedor-logo-redes .redes .icono-facebook {
    width: 20px;
  }
}

.carousel-container-items {
  background-color: black;
  display: flex;
  justify-content: space-around;
  padding: 25px;
}

img {
  width: 100%;
  height: 100%;
}

.productos-container {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/fondo-pared--oscura.jpg);
  padding: 50px;
  width: 100%;
}
.productos-container .card-text {
  color: white;
}

.footer-container {
  background-color: beige;
}
.footer-container .link {
  text-decoration: none;
  color: black;
}
.footer-container .footer-links a:hover {
  color: rgb(94, 0, 0);
}
.footer-container .footer-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 10px;
}
@media screen and (max-width: 576px) {
  .footer-container .footer-links {
    display: flex;
    justify-content: space-around;
  }
}
@media screen and (max-width: 576px) and (max-width: 576px) {
  .footer-container .footer-links .mapa {
    display: none;
  }
}
.footer-container .logo-footer {
  display: flex;
  width: 15%;
  padding-bottom: 30px;
  margin-right: 20px;
}
@media screen and (max-width: 576px) {
  .footer-container .logo-footer {
    width: 35%;
  }
}

.cervezas-container {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/fondo-pared--oscura.jpg);
  padding: 50px;
}
.cervezas-container .card {
  margin: auto;
  width: 300px;
}

.menu-licores {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/fondo-pared--oscura.jpg);
  padding: 50px;
}
.menu-licores .card-size {
  margin: auto;
  width: 22rem;
  height: 1fr;
}
.menu-licores .card-size img {
  width: 100%;
  height: 500px;
}

.menu-licores {
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../images/fondo-pared--oscura.jpg);
  padding: 50px;
}
.menu-licores .card-size {
  margin: auto;
  width: 22rem;
  height: 1fr;
}
.menu-licores .card-size img {
  width: 100%;
  height: 500px;
}

.busqueda-container {
  position: relative;
  text-align: center;
  padding: 10px;
  background-color: beige;
  width: 100%;
}
.busqueda-container input {
  background: rgb(255, 255, 255);
  width: 30%;
  height: 40px;
  text-align: center;
  color: black;
}
@media screen and (max-width: 576px) {
  .busqueda-container input {
    width: 60%;
  }
}
.busqueda-container ::placeholder {
  color: black;
}
.busqueda-container .btn {
  margin: 15px;
  padding: 5px;
}
@media screen and (max-width: 576px) {
  .busqueda-container .btn {
    margin: auto;
  }
}

/*# sourceMappingURL=style.css.map */
