$color-primario: beige;
$color-segundario: black;
$color-hover: rgb(94, 0, 0);

$fuente-pequena:0.8em;
$fuente-mediana:1.1em;
$fuente-grande:1.4em;

$tipografia-general: Arial, Helvetica, sans-serif;
$tipografia-alternativa: 'Times New Roman', Times, serif;
