.busqueda-container {
    position: relative;
    text-align: center;
    padding:10px;
    background-color: beige;
    width: 100%;

        input {
            background: rgb(255, 255, 255);
            width: 30%;
            height: 40px;
            text-align: center;
            color:black;

                @include mobile {
                    width: 60%;
                }
            
        }

        ::placeholder {
            color: black;
        }
        .btn {
            margin: 15px;
            padding: 5px;

            @include mobile {
                margin:auto ;
            }
        }
}