
.cervezas-container {   
    width: 100%;    
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    background-image:url(../images/fondo-pared--oscura.jpg);  
    padding: 50px;
        @include mobile {
            display: block;
            flex-direction: column;
        }
        
        .card {
            margin: auto;
            width: 300px;
        }
        .penon {
            height: 450px;
        }
}