.menu-licores {
    width: 100%;    
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    background-image:url(../images/fondo-pared--oscura.jpg);  
    padding: 50px;
        
    .card-size {
        margin: auto;
        width: 22rem;
        height: 1fr;
    }
    .card-size img{
        width: 100%;
        height: 500px;
    }


}

