.menu-licores {
    height: auto;
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    background-image:url(../images/fondo-pared--oscura.jpg); 
    display: grid;
    grid-template-rows: repeat(2, 0.5fr);
    grid-template-columns: repeat(3 , 0.5fr);
    grid-template-areas: 
    "whisky gin aperitivos "
    "vodka ron tequila"
    ;
    color: white;
    gap: 25px;
    padding: 25px;

    @include mobile {
        display: block;
    }

        .licores {
            text-align: center;
            padding: 20px;
            border: 1px solid beige;
        }

        .menu-licores h2 {
        display: flex;
        text-align: center;
        margin: auto;
                }

            .img-whisky {
                width: 300px;     
                height: 250px;   
            }

            .img-gin {
                width: 130px;
                height: 250px;
            }

            .img-aperitivos {
                width: 230px;
                height: 250px;
            }

            .img-vodka {
                width: 230px;
                width: 245px;
            }

            .img-ron {
                width: 230px;
                height: 305px;
            }

            .img-tequila {
                width: 230px;
                height: 300px;
            }

}

