.productos-container {
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
    background-image:url(../images/fondo-pared--oscura.jpg);   
    padding: 50px;
    width: 100%;

        .card-text {
            color: white;
        }
}